<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>闻题鸟教师个人信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Le styles -->
    <link href="/site_media/css/bootstrap2.0.min.css" rel="stylesheet" />
      <link href="/site_media/css/style.css" rel="stylesheet" />
    <style type="text/css">
        

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

    </style>
    <link href="/site_media/css/bootstrap-responsive2.0.min.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="../assets/ico/favicon.png" />
    <script type="text/javascript" src="/site_media/js/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/jquery.form.js"></script>
</head>

<body>        
    <div class="header_full">
        <div class="header">
        <div class="twitter"><img src="/site_media/img/twitter.gif" width="38" height="35" border="0" alt="logo" />
            <div class="btn-group pull-right">
                <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">{{teacher.teachername}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/questions_teacher/">待解决问题</a></li>
                    <li><a href='/questions_solved/'>已解决问题</a></li>
                    <li><a href='/questions_unEvaluate/'>未满意问题</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout_teacher/">登出</a></li>
                </ul>
            </div>
        </div>     
        <div class="clr"></div>
            <div class="logo"><img src="/site_media/img/logo.png" width="216" height="72" border="0" alt="logo" /></div>
            <div class="clr"></div>
        </div> 
    </div>

    <form action='/profile_teacher/' class="form-horizontal" method="post" id="profileForm">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="container-fluid">
                        <div class="span10 offset1">
                            <h2 id="ShowAccount">{{teacher.teachername}}</h2>
                            <a class="thumbnail">
                                <img src="/site_media/img/avatar.png" class="img-rounded" id="ShowImage" />
                                <h5 id="ShowPersonalNote"></h5>
                            </a>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top: 20px">
                        <ul class="nav nav-list">
                            <li class="nav-header">账户</li>
                            <li class="active"><a href="#" id="Default"><i class="icon-user icon-white"></i>我的账户</a></li>
                            <li><a href="#" id="Exchange">我要兑换</a></li>
                        </ul>
                    </div>
                    <!--/.well -->
                </div>

                <!--/AccountSpan-->
                <div class="span9" id="AccountSpan">
                    <div class="hero-unit">
                        <div class="row-fluid">
                            <h3 id="WelcomeAccount">Hello, {{teacher.teachername}}!</h3>
                            <div class="span8 offset2">
                                <div class="control-group">
                                    <input style="display:none" id="submittype" name="submittype" value="1" />
                                    <div style="margin-top: 10px">
                                        <label class="control-label">密码:</label>
                                        <div class="controls row-fluid">
                                            <a class="btn btn-success span3" id="ChangePwd">修改密码 <i class="icon-arrow-down icon-white"></i></a>
                                            <div class="span6" style="color: red; font-size: 9px">
                                                <div id="ChangePwdCheckInfo"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ChangePwdDiv" style="display: none">
                                        <div style="margin-top: 5px">
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                <input class="input-small" type="password" id="OldPassword" placeholder="原密码" onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                            </div>
                                        </div>
                                        <div style="margin-top: 5px">
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                <input class="input-small" type="password" name="password" id="NewPassword" placeholder="新密码" onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                            </div>
                                        </div>
                                        <div style="margin-top: 5px">
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                <input class="input-small" type="password" id="NewPasswordAgain" placeholder="确认密码" onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                                <button id="BtnChangePwd" class="btn">确认</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="control-label">擅长科目:</label>
                                        <div class="controls">
                                            <input type="checkbox" name="subjects" value="chinese" {% if chinese == True %} checked {% endif %} onfocus="$('#ChangePwdCheckInfo').hide();" />语文
                                            <input type="checkbox" name="subjects" value="english" {% if english == True %} checked {% endif %} onfocus="$('#ChangePwdCheckInfo').hide();" />英语
                                            <input type="checkbox" name="subjects" value="math" {% if math == True %} checked {% endif %} onfocus="$('#ChangePwdCheckInfo').hide();" />数学
                                            <span id="check" style="display:none" class="help-block">请至少选择一门<span>
                                          </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="control-label">学校:</label>
                                        <div class="controls">
                                            <input class="input-middle" name="school" type="text" id="School" value={{teacher.school}} onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="control-label">专业:</label>
                                        <div class="controls">
                                            <input class="input-middle" name="major" type="text" id="Major" value={{teacher.major}} onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="control-label">电话:</label>
                                        <div class="controls row-fluid">
                                            <input class="input-middle" name="mobilenumber" type="text" id="Mobilenumber" pattern="((13[0-9]{1})|(15[0-9]{1})|(18[0,5-9]{1}))+\d{8}" title="请输入正确的11位手机号码" value={{teacher.mobilenumber}} onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                            <div id="IsTeleSucc" style="color: red; font-size: 9px"></div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="control-label">邮箱:</label>
                                        <div class="controls">
                                            <input class="input-middle" name="email" type="email" id="Email" value={{teacher.email}} onfocus="$('#ChangePwdCheckInfo').hide();" required/>
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <label class="control-label">财富值:</label>
                                        <div class="controls">
                                            <input class="input-mini" disabled="true" type="email" id="Wealth" value={{teacher.wealth}} />
                                        </div>
                                    </div>
                                    <div style="margin-top: 10px">
                                        <div class="controls">
                                            <button id="BtnSave" class="btn btn-primary">保存修改</button>
                                            <button type="submit" id="submit" style="display:none"></button>
                                            <button id="BtnCancel" class="btn">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <!--/.fluid-container-->

    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed and built with all the love by <a href="http://www.renren.com/360196165" target="_blank">@Chaowei Xiao</a>, <a href="http://www.renren.com/320569263" target="_blank">@Huaiyi Huang</a>, <a href="http://www.renren.com/400722520" target="_blank">@Pengfei Chen</a>, <a href="http://www.renren.com/407789135" target="_blank">@Shiqian Zhang</a> and <a href="http://www.renren.com/272311905" target="_blank">@Shutong Zhang</a>.</p>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/bootstrap.min.js"></script>

    <a id="scrollUp" href="#top" title="" style="position: fixed; z-index: 2147483647; display: block;"></a>
</body>
<script>
var password = {{teacher.password}};
$("#ChangePwd").click(function () {
    $("#ChangePwdDiv").toggle();
});

$("#BtnChangePwd").click(function(e){
    e.preventDefault();
    $("#ChangePwdCheckInfo").hide();
    if($("#OldPassword").val() != password){
        $("#ChangePwdCheckInfo").html("原密码错误");
        $("#ChangePwdCheckInfo").show();
    }
    else if($("#NewPassword").val() == ""){
        $("#ChangePwdCheckInfo").html("新密码不能为空");
        $("#ChangePwdCheckInfo").show();
    }
    else if($("#NewPassword").val() != $("#NewPasswordAgain").val()){
        $("#ChangePwdCheckInfo").html("两次密码输入不一致");
        $("#ChangePwdCheckInfo").show();
    }
    else{
        $("#submittype").val("0");
        $('form').ajaxSubmit({
            success:function(data){
                if(data.state == 'success'){
                    $("#ChangePwdCheckInfo").html("修改成功");
                    $("#ChangePwdCheckInfo").show();
                    password = $("#NewPassword").val();
                }
                else{
                    window.location='/login_teacher/';
                }
            }
        });
    }
})

$("#BtnSave").click(function(e){
    e.preventDefault();
    $("#modified").html("");
    var num = 0;
    $('input[name="subjects"]:checked').each(function(){
       num++;
    });
    if(num == 0){
        $('#check').show();
        return;
    }
    else{
        $('#check').hide();
    }
    $("#submittype").val("1");
    $('form').ajaxSubmit({
        success:function(data){
            if(data.state == 'success'){
                $("#ChangePwdCheckInfo").html("修改成功");
                $("#ChangePwdCheckInfo").show();
            }
            else{
                window.location='/login_teacher/';
            }
        }
    });
})

$("#BtnCancel").click(function(e){
    e.preventDefault();
    window.location='/profile_teacher/';
})

$("#Exchange").click(function(e){
    e.preventDefault();
    window.location='/exchange_teacher/';
})

$("#main").click(function(e){
    e.preventDefault();
    window.location = '/questions_teacher/';
})

$("#logout").click(function(e){
    e.preventDefault();
    window.location = '/login_teacher/';
})
</script>
</html>
