<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.min.css" />
	<script type="text/javascript" src="/site_media/js/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
	<title>已解决问题</title>
</head>
<body>
	<h3>{{qbname}}的已解决问题集合</h3>
	{% if questions %}
		{% for question in questions %}
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{question.content}}
						<span class="pull-right">{{question.answer_state}}</span>
						<span class="pull-right">&nbsp;&nbsp;</span>
						<span class="badge pull-right">{{question.category}}</span>
					</h3>
				</div>
				<div class="panel-body">
					{{question.answer}}
		 		</div>
		 		<div class="panel-footer">
		 			{{question.answer_eva}}<span class="pull-right">{{question.answer_satis}}</span>
		 		</div>
			</div>
		{% endfor %}
	{% else %}
		<div>没有已解决的问题</div>
	{% endif %}
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">回答评价</h4>
				</div>
				<div class="modal-body">
					<textarea placeholder="请在这里评价，不得超过15个字" style="width:100%;height:100%;margin-bottom:5%"></textarea>
					请选择:&nbsp;&nbsp;
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="options" id="option1">满意
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="options" id="option2">中等
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="options" id="option3">不满意
						</label>
					</div>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">评价</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</body>
</html>