<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/site_media/css/questionlist.css" />
	<script type="text/javascript" src="/site_media/js/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
	<title>待解决问题</title>
</head>
<body>
	<h3>{{qbname}}的待解决问题集合</h3>
	{% if questions %}
		<ul class="list-group">
			{% for question in questions %}
				<li class="list-group-item">
					<a class="pull-right">删除</a>
					<span class="pull-right">&nbsp;&nbsp;</span>
					<span class="badge" style="font-size:50px">{{question.category}}</span>
					{{question.content}}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<div>没有待解决的问题</div>
	{% endif %}
</body>
</html>