<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/site_media/css/bootstrap.min.css" />
	<script type="text/javascript" src="/site_media/js/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/bootstrap.min.js"></script>
	<title>待解决问题</title>
</head>
<body>
	<ul class="list-group">
		<li class="list-group-item">
			<a class="pull-right">删除</a>
			<span class="pull-right">&nbsp;&nbsp;</span>
			<span class="badge">小学语文</span>
				伟哥是什么
		</li>
		<li class="list-group-item">
			<a class="pull-right">删除</a>
			<span class="pull-right">&nbsp;&nbsp;</span>
			<span class="badge">初中数学</span>
				伟哥多少钱一斤
		</li>
		<li class="list-group-item">
			<a class="pull-right">删除</a>
			<span class="pull-right">&nbsp;&nbsp;</span>
			<span class="badge">高中英语</span>
				伟哥多少钱一斤的英文怎么说
		</li>
	</ul>
</body>
</html>