<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/site_media/css/bootstrap2.0.min.css">
  <link rel="stylesheet" href="/site_media/css/bootstrap-responsive2.0.min.css">
  <link rel="stylesheet" href="/site_media/css/login_teacher.css">
  <script type="text/javascript" src="/site_media/js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/site_media/js/bootstrap2.0.min.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery.form.js"></script>
  <title>闻题鸟教师端注册页面</title>
</head>
<body>
  <div class="header_full">
    <div class="header">
      <div class="twitter"><img src="/site_media/img/twitter.gif" width="38" height="35" border="0" alt="logo" /></div>
      <div class="clr"></div>
      <div class="logo"><img src="/site_media/img/logo.png" width="216" height="72" border="0" alt="logo" /></div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="container content" style="margin-left:15%;margin-top:15px;background-color:white;">
    <div id="register">
      <form class="form-horizontal" method="POST" action='/register_teacher/'>
        <fieldset>
          <div id="legend" class="">
            <legend class="">注册</legend>
          </div>
        </fieldset>
        <div class="control-group ">
          <label class="control-label" for="name">用户名</label>
          <div class="controls">
            <input id="name" type="text" name="teachername" class="form-control" required>
          </div>    
        </div>
        <div class="control-group">
          <label class="control-label" for="password">密码</label>
          <div class="controls">
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
        </div>
        <div class="control-group ">
          <label class="control-label" for="confirm">确认密码</label>
          <div class="controls">
            <input type="password" id="confirm" class="form-control" required>
            <span class="help-inline hide">两次输入不一致</span>
          </div>
        </div>
        <div class="control-group ">
          <label class="control-label" for="subjects">擅长学科</label>
          <div class="controls">
            <input type="checkbox" name="subjects" value="chinese" />语文
            <input type="checkbox" name="subjects"value="english" />英语
            <input type="checkbox" name="subjects" value="math" />数学
            <span id="check" style="display:none" class="help-block">请至少选择一门<span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inviteNumber">学校</label>
          <div class="controls">
            <input type='text' name="school"  class="form-control" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inviteNumber">专业</label>
          <div class="controls">
            <input type='text' name="major"  class="form-control" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inviteNumber">邮箱</label>
          <div class="controls">
            <input id='inviteNumber' type='email' name="email"  class="form-control" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">电话</label>
          <div class="controls">
            <input type='text' name="mobilenumber" class="form-control" pattern="((13[0-9]{1})|(15[0-9]{1})|(18[0,5-9]{1}))+\d{8}" title="请输入正确的11位手机号码" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inviteNumber">邀请码</label>
          <div class="controls">
            <input type='text' name="inviteNumber"  class="form-control" required>
          </div>
        </div>
        <div id="errorMessage" class="alert alert-danger hidden">
        </div>
        <div class="control-group">
          <div class="controls">
            <a href="/login_teacher/" class="btn btn-inverse" style="margin-right:66px">返回登陆</a>
            <button type="submit" class="btn btn-primary ">注册</button>
          </div>
        </div>
      </form>
    </div>
  </div>
    <div class="footer">
    <div class="footer_resize"> 
      <p class="rightt">© 闻题鸟</p>
      <div class="clr"></div>
    </div>
  </div>
</body>
<script>
$("#confirm").blur(function(){
  if($("#password").val()!=''){
    if($("#password").val() != $("#confirm").val()){
      $("#confirm").siblings('span').show();
    }
    else{
      $("#confirm").siblings('span').hide();
    }
  }
})
$('input').focus(function() {
   $("#errorMessage").addClass("hidden");
});

$('form').on('submit',function(e){
  e.preventDefault();
  var num = 0;
  if($('#password').val() !=$('#confirm').val()){
    $('#confirm').siblings('span').show();
    $('#confirm').focus();
    return;
  }
  $('input[name="subjects"]:checked').each(function(){
      num++;
    });
  if(num == 0){
    $('#check').show();
    return;
  }
  else{
    $('#check').hide();
  }
 $(this).ajaxSubmit({
    success:function(data){
      if(data.state=='success'){
         window.location='/login_teacher/';
      }
      else if(data.state=='invite'){
        $('#errorMessage').removeClass("hidden");
        $("#errorMessage").html("邀请码错误！");
      }
      else if(data.state =='existed'){
        $('#errorMessage').removeClass("hidden");
        $('#errorMessage').html('用户名已存在！');
      }
    },
    error:function(data){
      alert('出错啦！');
    }
  })
})
</script>
</html>