<!DOCTYPE html>
<html>
<head>
  <title>用户信息</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/site_media/css/que.css" rel="stylesheet" type="text/css" />
<body>
  <div class="container">
    <div class="title"><h2>用户信息</h2></div>
    <hr/>
    <div class="content">
      <div class="text">年级:{{user.grade}}</div>
      <div class="text">剩余学习币:{{user.learncoin}}</div>
      <div class="text">已提问次数:{{user.question_num}}</div>
      <div class="text">待解决问题数:{{user.unsolved_num}}</div>
      <hr/>
    </div>
  </div>
</body>

</html>