.container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
#login, #register {
	position: absolute;
	width: 100%;
	height: 100%;
}
.form-signin {
	position: absolute;
	top: 60%;
	left: 5%;
	right: 5%;
	height: 30%;
	margin: 0;
}
.input-group {
	width: 100%;
}
.input-group-addon, .form-control {
	height: 100%;
	font-size: 25px;
	padding: 0;
	border: 0;
	padding-left: 15px;
}
.input-group-addon {
	padding: 8px 15px;
}
#login-button, #register-button {
	margin-top: 2%;
	font-size: 25px;
}
#info {
	font-size:22px;
	color:red;
}